@model TbBlog
@{
	List<TbBlogComment> blogComment = ViewBag.blogComment;
}
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Chi tiết</p>
					<h1>tin tức</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- single article section -->
<div class="mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single-article-section">
					<div class="single-article-text">
						<img src="@Model.Image" alt="Latest News" width="610" height="450">
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> @Model.CreatedBy</span>
							<span class="date"><i class="fas fa-calendar"></i>@Model.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
						</p>
						<h2>@Model.Title</h2>
						<p>@Model.Description</p>
						<p>@Model.Detail</p>
						</div>

					<div class="comments-list-wrap">
						<h3 class="comment-count-title">@blogComment.Count() Comments</h3>
						<div class="comment-list">
							@foreach (var item in blogComment)
							{
								<div class="single-comment-body">
									<div class="comment-user-avater">
										<img src="@item.Image" alt="">
									</div>
									<div class="comment-text-body">
										<h4>@item.Name <span class="comment-date">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span> <a href="#">reply</a></h4>
										<p>@item.Detail</p>
									</div>
								</div>
							}
						</div>
					</div>

					<div class="comment-template">
						<h4>Leave a comment</h4>
						<p>Nếu bạn có bình luận, đừng ngần ngại gửi cho chúng tôi ý kiến ​​của bạn.</p>
						<form action="index.html">
							<p>
								<input type="text" placeholder="Your Name">
								<input type="email" placeholder="Your Email">
							</p>
							<p><textarea name="comment" id="comment" cols="30" rows="10" placeholder="Your Message"></textarea></p>
							<p><input type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>