@model IEnumerable<DACN1.Models.TbBlog>

@foreach(var item in Model)
{
	string sUrl = $"/blog/{item.Alias}-{item.BlogId}.html";
	<div class="col-lg-4 col-md-6">
		<div class="single-latest-news">
			<a href="@sUrl">
				<img src="@item.Image" alt="Latest News" width="340" height="200">
			</a>
			<div class="news-text-box">
				<h3><a href="@sUrl">@item.Title</a></h3>
				<p class="blog-meta">
					<span class="author"><i class="fas fa-user"></i> @item.CreatedBy</span>
					<span class="date"><i class="fas fa-calendar"></i>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
				</p>
				<p class="excerpt">@item.Description</p>
				<a href="@sUrl" class="read-more-btn">Read more <i class="fas fa-angle-right"></i></a>
			</div>
		</div>
	</div>
}